.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fileUploadBtn{
  background: black;
  color: white;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.fileUploadBtn input {
  opacity: 0; 
  border: none;
  background: grey;
  position: relative;  
  width: inherit;
  height: inherit;
  top: -65px;
}

.fileUploadBtn input:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  }

header{
  background: aquamarine;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

header h1{
  margin-top: 0px;
}

.imageSection{
  margin-top:50px;
  width:100%;
  height: 400px;
}

.imageSection .originalImgSec {
  float: left;
  margin-left:10%;
}

.imageSection .resultImgSec {
  float: right;
  margin-right:10%;
}

.imageSection div {
  background:black;
  color:white;
  width: 300px;
  height: 450px;
}

.imageSection div img {
  width: 300px;
  height: 400px;
  display: none;
}

.loader {
  width: 300px;
  height: 400px;
  position: relative;
  top: -400px;
  display: none;
}

@media (min-width: 100px) and (max-width: 1000px) {

  .imageSection .originalImgSec {
    float: none;
    margin-left:auto;
    margin-right:auto;
  }
  
  .imageSection .resultImgSec {
    float: none;
    margin-left:auto;
    margin-right:auto;
  }

  .imageSection div {
    background:black;
    color:white;
    width: 150px;
    height: 250px;
  }
  
  .imageSection div img {
    width: 150px;
    height: 200px;
    display: none;
  }
  .loader{
    width: 150px;
    height: 200px;
    display: none;
    position: relative;
    top: -200px
  }
  .fileUploadBtn {
    margin-top: 100px;
  }
}


